{% extends 'main_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div id="change_password_container" class="row">
            <h1><b>Change password</b></h1>
            <br>
            <form action="{{ action }}" method="{{ method }}">
                <p>Please provide the correct username to change your password</p>
                <p>If you are having any technical issues, such as correct username but the system won't change the password, then please contact your manager</p>
                <fieldset>
                    <label for="username">Confirm your username: <input type="text" maxlength="20" name="username" required autofocus></label>
                    <br><br>
                    <label for="password">Enter the new password: <input type="password" maxlength="100" name="password" required></label>
                </fieldset>
                <br>
                <button type="submit">Submit</button>
                <button formaction="project_overview" formmethod="post" formnovalidate>Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}